<h1><%= t '.editing' %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('.back_to_detail'), @book %> |
  <%= link_to I18n.t('user_operation.back_to_top'), books_path %>
</nav>
