<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to Book.human_attribute_name(:show), book %>
    </p>
  <% end %>
</div>

<%= link_to Book.human_attribute_name(:new), new_book_path %>

